.idea
build/
build1/
lib
lib/
proto/*.cc
proto/*.h
proto/*.py
python/nart/proto/*.cc
python/nart/proto/*.h
python/nart/proto/*.py
.vscode
python/dist
python/nart.egg-info/
tools/nart_promark
python/docs/_build/
*.pyc
deps
.clangd
compile_commands.json
install/
python/*egg-info
build*
